block config
	include ../includes/config

doctype html

html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
		script(type='text/javascript', src='js/jquery-1.12.4.min.js', defer='')
		script(type='text/javascript', src='js/jquery.main.js', defer='')
		include ../includes/head
		block head
			
		title #{siteTitle}
	body
		section.wrapper
			include ../includes/header

			block content

			include ../includes/footer

		block scripts