extends pug/extends/master

block content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, perspiciatis.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, perspiciatis.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, perspiciatis.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, perspiciatis.