header#header
	.container-wrap
		.logo
			a(href="#")
				img(src="images/logo.png", alt=""+siteTitle+"")
		nav.nav-holder
			a.nav-opener(href="#")
				span
			.nav-slide
				ul.main-nav
					li
						a(href="#") First
					li
						a(href="#") Second
					li
						a(href="#") Third
					li
						a(href="#") Fourth
					li
						a(href="#") Fifth