header#header
	h3 #{siteTitle}
	.logo
		a(href="#")
			img(src="images/logo.png", alt="LogoText")
	nav.nav-holder
		a.nav-opener(href="#")
			span
		.nav-slide
			ul
				li
					a(href="#") First
				li
					a(href="#") Second
				li
					a(href="#") Third
				li
					a(href="#") Fourth
				li
					a(href="#") Fifth