block config
	include ../includes/variables

doctype html

html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset='utf-8')
		// build:js js/vendor.js
		// bower:js
		// endbower
		// endbuild
		// build:css css/vendor.css
		// bower:css
		// endbower
		// endbuild
		script(type='text/javascript', src='js/jquery.main.js', defer='')
		include ../includes/styles
		//- block head
		title #{siteTitle}
	body
		section.wrapper
			include ../includes/header

			block content

			include ../includes/footer

		//- block scripts